<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配置页</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/main.css">
</head>
<body>
<div id="table" class="mt10">
<div class="box span10 oh">
<form action="{:url('Conf/upload_ok')}" method="post" enctype="multipart/form-data">
    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="list_table">
        <tr>
            <th width="300">头部</th>
            <td><input type="text" name="config_title" class="input-text lh30" size="40" value="{$data.config_title}"> </td>
        </tr>
        <tr>
            <th width="300">描述</th>
            <td><input type="text" name="config_desc" class="input-text lh30" size="40" value="{$data.config_desc}"></td>
        </tr>
        <tr>
            <th width="300">简介</th>
            <td><input type="text" name="config_comment" class="input-text lh30" size="40" value="{$data.config_comment}"></td>
        </tr>
        <tr>
            <th width="300">ICP</th>
            <td><input type="text" name="config_icp" class="input-text lh30" size="40" value="{$data.config_icp}"></td>
        </tr>
        <tr>
            <th width="300">LOGO</th>
            <td>
            <p><img src="__PUBLIC__/uploads/{$data.config_img}" alt=""></p>

                <input type="file" name="config_img" value="{$data.config_img}">
            </td>
        </tr>
        <tr>
            <th width="300">版权</th>
            <td><input type="text" name="config_copyright" class="input-text lh30" size="40" value="{$data.config_copyright}"></td>
        </tr>
        <tr>
            <th width="300">关键词</th>
            <td><input type="text" name="config_crux" class="input-text lh30" size="40" value="{$data.config_crux}"></td>
        </tr>
        <tr>
            <th width="300">联系方式</th>
            <td><input type="text" name="config_tel" class="input-text lh30" size="40" value="{$data.config_tel}"></td>
        </tr>
        <tr>
            <th width="300">邮箱</th>
            <td><input type="text" name="config_email" class="input-text lh30" size="40" value="{$data.config_email}"></td>
        </tr>
        <tr>
            <td class="td_right"></td>
            <td class="">
                <input type="submit" name="" class="btn btn82 btn_save2" value="保存">
                <input type="button" name="" class="btn btn82 btn_res" value="重置">
            </td>
        </tr>
    </table>
</form>
</div>
</div>
<script src="__PUBLIC__/jquery-3.3.1.js"></script>
</body>
</html>